@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  .slick-slide img {
    height: 200px; /* smaller height on mobile */
  }
}

.slider-container {
    margin: 20px auto;
    width: 100%;
    padding: 0 20px;
}

.slick-slide {
    padding: 0 8px;
}

.slick-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

/* Fix dots positioning */
.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    color: white;
}